<html>
	<head>
		<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />

		<link href="static/css/bootstrap.min.css" rel="stylesheet">
        	<link href="static/css/styles.css" rel="stylesheet">
        	
		<style>
			body {
			    background-color: black;
			    color: white;
			}

        </style>
	</head>
	<body>

    <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Path to Safety</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Map</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Feedback</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <div class="btn-group" role="group" aria-label="emergencybuttons">
                          <button type="button" class="btn btn-success navbar-btn" onclick="addSafePoint(navigator.geolocation.getCurrentPosition())">I'm feeling SAFE!</button>
                          <button type="button" class="btn btn-warning navbar-btn" onclick="addDangerPoint(navigator.geolocation.getCurrentPosition())">I'm feeling UNSAFE!</button>
                          <button type="button" class="btn btn-danger navbar-btn" onclick="addEmergencyPoint(navigator.geolocation.getCurrentPosition())">EMERGENCY! HELP!</button>
                      </div>
                  </li>
                  <li>
                      <div class="dropdown">
                      <button type="button" class="btn btn-default navbar-btn dropdown-toggle" id="filterDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter 
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="filterDropDownMenu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li><a href="#">Separated link</a></li>
                      </ul>
                      </div>
                  </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <br>
        <br>

        <div class="container col-md-12">
            <!-- <div class="col&#45;md&#45;12"><h1></h1></div> -->
            <div id="map"></div>
        </div>

        <!-- Bootstrap core JavaScript
            ================================================== -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="static/js/bootstrap.js"></script>
	</body>	
</html>


<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>

<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script>
// get the viz.json url from the CartoDB Editor
// - click on visualize
// - create new visualization
// - make visualization public
// - click on publish
// - go to API tab

var newMarker = null;
var targetMarker = null;
var socket = io.connect('http://govhack2015.gregdmd.com');

var peers = {};

window.onload = function() {
  cartodb.createVis('map', 'https://gdziemidowicz.cartodb.com/api/v2/viz/2ebe7fe6-21d6-11e5-ac0c-0e853d047bba/viz.json')
  .done(function(vis, layers) {
    // layer 0 is the base layer, layer 1 is cartodb layer
    // when setInteraction is disabled featureOver is triggered
    layers[1].setInteraction(true);

  var map = vis.getNativeMap();
  targetMarker = new L.marker([0,0]).addTo(map);

    layers[1].on('featureClick', function(e, latlng, pos, data, layerNumber) {
      targetMarker.setLatLng(latlng);
      socket.emit('user_click', { pos: latlng, id: socket.id } );
    });

     socket.on('user_click', function(msg){
      console.log("socket!!");
      if (peers[msg.id]) {
      peers[msg.id].setLatLng(msg.pos);
      } else {
        peers[msg.id] = new L.marker(msg.pos);
        peers[msg.id].addTo(map);
      }
    });

    // you can get the native map to work with it
    

    console.log("native map", map)

    // now, perform any operations you need, e.g. assuming map is a L.Map object:
    // map.setZoom(3);
    // map.panTo([50.5, 30.5]);

function showPosition(position) {
var my_location = new L.marker([position.coords.latitude,position.coords.longitude]).addTo(map);
socket.emit('user_click', 
  { pos: [position.coords.latitude,position.coords.longitude], id: socket.id }  
  );
}
  
function addSafePoint(position) {
var my_location = new L.circle([position.coords.latitude,position.coords.longitude], 200, {
    color: 'green',
    fillColor: '#f03',
    fillOpacity: 0.5
}).addTo(map);
}

function addDangerPoint(position) {
	var my_location = new L.circle([position.coords.latitude,position.coords.longitude], 200, {
		color: 'red',
		fillColor: '#f03',
		fillOpacity: 0.5
	}).addTo(map);
}

function addEmergencyPoint(position) {
	var my_location = new L.circle([position.coords.latitude,position.coords.longitude], 300, {
		color: 'red',
		fillColor: '#f03',
		fillOpacity: 0.7
	}).addTo(map);
}

var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, 
            function(error){
                alert(error.message);
            }, {
                enableHighAccuracy: true
                ,timeout : 25000
        });
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

getLocation();

  });



}



 function featureOver(e, latlng, pos, data) {
          console.log(data.cartodb_id)
 }



</script>
